.btn{
  background-color: #FEDB3F;
  border-radius: 6.25rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  max-height: 3.75rem;
  margin-right: 0;
  padding: 1.25rem 2.5625rem;
  border: none;
  margin-right: 0.3125rem;
  display: inline-block;

  &:hover{
    background-color: #292929;
    color: white;
  }
}

.btn__reset{
  background-color: transparent;
  &:hover{
    background-color: none;
    color: white
  }
}