.hero {
  height: 100vh;
  background: url(../img/phone1.png) center top no-repeat;
  background-size: cover;
  background-color: #313131;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 7.0625rem;
  padding-top: 1.6875rem;
}

.menu {
  width: 39.875rem;
}
.menu .menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.menu .menu__item {
  vertical-align: middle;
  margin-right: 1.375rem;
  font-weight: bold;
}
.menu .menu__item:last-child {
  margin-right: 0;
}

.contacts__phone {
  font-size: 1.375rem;
  font-weight: bold;
}
.contacts__phone::before {
  content: url(../img/Vector4.png);
  margin-right: 0.3125rem;
  width: 0.75rem;
  height: 0.75rem;
}

.hero__text {
  width: 41%;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 1.3125rem;
  font-weight: normal;
  margin-bottom: 2.4375rem;
}

.hero__offers {
  margin-top: 4rem;
}

.hero__offers--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 30%;
}
.hero__offers--list .hero__offers--item {
  display: flex;
  align-items: center;
  margin-right: 2.0625rem;
}
.hero__offers--list .offers__icon {
  width: 2.1875rem;
  margin-right: 0.9375rem;
}
.hero__offers--list .offers__icon:last-child {
  margin-right: 0;
}
.hero__offers--list .offers__text {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  max-width: 5.625rem;
}