@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* Подключения */
@import url(./sprite.svg);
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper__menu {
  position: fixed;
  top: 20%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .wrapper__menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .wrapper__menu {
    display: none;
  }
}

.wrapper__menu-item {
  margin-bottom: 0.4375rem;
}
.wrapper__menu-item--active .wrapper__menu-link {
  border-color: white;
}

.wrapper__menu-link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid;
  border-color: transparent;
  display: block;
  position: relative;
}
.wrapper__menu-link::before {
  position: absolute;
  top: 34%;
  right: 31%;
  transform: translate(-50% -50%);
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: white;
}

.section {
  height: 100vh;
  min-height: 40.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.section--description {
  padding-top: 2.5rem;
}

.headline {
  text-align: center;
  margin-bottom: 3.0625rem;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  background-color: #FEDB3F;
  border-radius: 6.25rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  max-height: 3.75rem;
  margin-right: 0;
  padding: 1.25rem 2.5625rem;
  border: none;
  margin-right: 0.3125rem;
  display: inline-block;
}
.btn:hover {
  background-color: #292929;
  color: white;
}

.btn__reset {
  background-color: transparent;
}
.btn__reset:hover {
  background-color: none;
  color: white;
}

.hero {
  height: 100vh;
  background: url(../img/phone1.png) center top no-repeat;
  background-size: cover;
  background-color: #313131;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(../img/phone1.png) left -329px top 47px no-repeat;
    background-color: #313131;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background: url(../img/phone1.png) left -501px top 47px no-repeat;
    background-color: #313131;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 9rem;
  padding-top: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .header {
    background: #1968B1;
    height: 5.688rem;
    padding-right: 1.3125rem;
    padding-left: 0.9375rem;
    padding-top: 2.3125rem;
    align-items: center;
    padding-bottom: 1.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    align-items: center;
    padding-bottom: 1.1875rem;
  }
}

.menu {
  width: 39.875rem;
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  vertical-align: middle;
  margin-right: 1.375rem;
  font-weight: bold;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 1.1rem;
  white-space: nowrap;
}

.contacts__phone {
  font-size: 1.375rem;
  font-weight: bold;
  white-space: nowrap;
}
.contacts__phone::before {
  content: url(../img/Vector4.png);
  margin-right: 0.3125rem;
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
}

.hero__text {
  width: 41%;
}
@media screen and (max-width: 768px) {
  .hero__text {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__text {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero-title {
    padding: 0 13%;
  }
}
@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 2.5rem;
    padding: 0 10%;
  }
}

.hero__subtitle {
  font-size: 1.3125rem;
  font-weight: normal;
  margin-bottom: 2.4375rem;
}

.hero__offers {
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .hero__offers {
    display: none;
  }
}

.hero__offers--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 30%;
}
.hero__offers--list .hero__offers--item {
  display: flex;
  align-items: center;
  margin-right: 2.0625rem;
}
.hero__offers--list .offers__icon {
  width: 2.1875rem;
  margin-right: 0.9375rem;
}
.hero__offers--list .offers__icon:last-child {
  margin-right: 0;
}
.hero__offers--list .offers__text {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  max-width: 5.625rem;
}

@media screen and (max-width: 768px) {
  .contacts.contacts__header {
    display: none;
  }
}

.reviews__display {
  background-color: #F8FAF9;
  padding: 3.125rem 2.8125rem 2.125rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.5rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}
.reviews__content-title {
  font-size: 1.6875rem;
  font-weight: bold;
  margin-bottom: 0.875rem;
}

.reviews__text {
  margin-bottom: 1.5625rem;
  color: #666666;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.interactive__avatar {
  border-radius: 50%;
  width: 4.625rem;
  height: 4.625rem;
  border: 0.375rem solid;
  overflow: hidden;
  border-color: transparent;
  position: relative;
}
.interactive__avatar--active {
  border-color: yellow;
}

.interactive__avatar-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.interactive__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline__title {
  margin-bottom: 1.0625rem;
}

.headline__subtitle {
  color: #666666;
  padding: 0 27%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 0;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}
.benefits__title {
  font-weight: bold;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  align-items: center;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: flex;
    text-align: left;
  }
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  .benefits__image {
    margin-right: 0.75rem;
  }
}

.benefits__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  /* .benefits__logo{
    width: 3.25rem;
    height: 4.375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}

.section--order {
  background: url(../img/cta22.png) center top no-repeat black;
  background-size: cover;
}

.order__title {
  color: white;
}

.form {
  display: flex;
  color: white;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .form {
    padding: 0 0;
  }
}
.form__column {
  flex: 1;
  margin-right: 1.6875rem;
}
.form__column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: 1.6875rem;
}
.form__block {
  flex: 1;
  margin-right: 1.6875rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.1875rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 2.25rem;
  }
}
.form__input:focus {
  border-color: yellow;
  outline: none;
}
.form__input--textarea {
  height: 9.5rem;
  /* width: 28.125rem; */
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .radio {
    align-items: flex-end;
  }
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}
.radio__checkbox .radio__visible::before {
  content: url(../img/Vector33.png);
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  margin-left: 0.625rem;
  margin-right: 0.6875rem;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  -webkit-user-select: none;
          user-select: none;
}
.radio__visible::before {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  content: url(../img/tochka.png);
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  display: none;
}

.form__controls {
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.hamburger {
  height: 26px;
  width: 28px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__item {
  background-color: blanchedalmond;
  display: block;
  height: 5px;
  border-radius: 10px;
}

.icon__svg {
  cursor: pointer;
  width: 2.125rem;
  height: 2.1875rem;
  fill: blanchedalmond;
}
.icon__svg:hover {
  fill: black;
}

.icon__benefit {
  cursor: pointer;
  width: 3.25rem;
  height: 4.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon__benefit:hover {
  fill: darkkhaki;
}

.icon__dscr {
  fill: black;
  width: 24px;
  height: 20px;
}

.section--boards {
  background-color: #F8FAF9;
}

.container--boards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
}

.slider__item {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__item {
    flex-direction: column;
    align-items: center;
  }
}

.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider__content {
    flex-direction: column;
    align-items: center;
  }
}

.slider__title {
  font-weight: 700;
  color: black;
  font-size: 2.25rem;
  margin-top: 3.25rem;
}

.slider__text {
  color: #666666;
  margin-bottom: 1.5rem;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .slider__text {
    margin-bottom: 0.875rem;
  }
}

.slider__benefits {
  display: flex;
}

.slider__benefits-content {
  margin-right: 3.25rem;
}
.slider__benefits-content:last-child {
  margin-right: 0;
}

.benefits__name {
  color: #666666;
}

.benefits__dscr {
  font-size: 1.125rem;
  font-weight: bold;
}

.slider__price-item {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
}

.price-item__name {
  font-size: 3.75rem;
  margin-right: 28px;
}
@media screen and (max-width: 768px) {
  .price-item__name {
    font-size: 2.75rem;
  }
}

.boards__img {
  min-width: 28.125rem;
  min-height: 28.125rem;
}
@media screen and (max-width: 768px) {
  .boards__img {
    max-width: 21rem;
    max-height: 23rem;
    min-width: 21rem;
    min-height: 23rem;
  }
}

.gear__btn {
  display: flex;
  position: relative;
  width: 5.75rem;
}
@media screen and (max-width: 768px) {
  .gear__btn {
    display: none;
  }
}

.gear__btn-menu {
  background-color: gray;
  padding: 30px;
  position: absolute;
  width: 273px;
  height: 291px;
  position: absolute;
  left: 90px;
  top: 0;
  border-radius: 4px;
  display: none;
}

.gear__btn-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.gear__btn-icon {
  margin-right: 16px;
}

.gear__btn-name {
  color: black;
  font-weight: bold;
}

.gear__btn-parametr {
  margin-left: auto;
}

.btn__link {
  width: 91px;
  height: 91px;
  background-color: #3A587E;
  border-radius: 4px;
  position: relative;
}

.btn__img {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  display: none;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 36px;
  line-height: 72px;
  display: none;
}

.closeBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 50px;
  top: 50px;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: normal;
  line-height: 1.42;
  padding: 0;
  margin: 0;
  color: white;
}

body, html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  transition: 0.3s;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero__container {
    width: 100%;
  }
}

.section__map {
  background-color: blanchedalmond;
}