@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url(./header.css);
@import url(./description.css);
@import url(./normalize.css);
@import url(./reviews.css);
@import url(./styleform.css);
html {
  font-size: 18px;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: normal;
  line-height: 1.42;
  padding: 0;
  margin: 0;
  color: white;
}

body, html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  transition: 0.3s;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  background-color: #FEDB3F;
  border-radius: 6.25rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  max-height: 3.75rem;
  margin-right: 0;
  padding: 1.25rem 2.5625rem;
  border: none;
  margin-right: 0.3125rem;
  display: inline-block;
}
.btn:hover {
  background-color: #292929;
  color: white;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper__menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.wrapper__menu-item {
  margin-bottom: 0.4375rem;
}
.wrapper__menu-item--active .wrapper__menu-link {
  border-color: white;
}

.wrapper__menu-link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid;
  border-color: transparent;
  display: block;
  position: relative;
}
.wrapper__menu-link::before {
  position: absolute;
  top: 34%;
  right: 31%;
  transform: translate(-50% -50%);
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: white;
}