
.reviews__display{
  background-color: #F8FAF9;
  padding: 3.125rem 2.8125rem 2.125rem;
}

.reviews__display-inner{
  display: flex;
  @include tablets{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar{
  width: 15.8125rem;
  height: 16.5rem;
  @include tablets{
    width:8.125rem ;
    height: 8.125rem;
  }

}

.reviews__avatar-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content{
  flex: 1;
  margin-left: 2.5rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
  @include tablets{
    margin-left: 0;
  }
  &-title{
    font-size: 1.6875rem;
    font-weight: bold;
    margin-bottom: 0.875rem;
  }
}
.reviews__text{
  margin-bottom: 1.5625rem;
  color: #666666;
}
.reviews__author{
  font-size: 18px;
  font-weight: bold;
}

.reviews__switcher{
  display: flex;
  justify-content: center;
  margin-top: 17px;

}

.interactive__avatar{
  border-radius: 50%;
  width: 4.625rem;
  height: 4.625rem;
  border: 0.375rem solid;
  overflow: hidden;
  border-color: transparent;
  position: relative;

  &--active{
    border-color: yellow;
  }
}

.interactive__avatar-link{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;

}

.interactive__avatar-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  