.section--order{
  background: url(../img/cta22.png) center top no-repeat hsla(0, 0%, 0%, 1);
  background-size: cover;

}
.order__title{
  color: white;
}


.form{
  display: flex;
  color: white;
  @include tablets{
    flex-direction: column;
    padding: 0 19%;
    @include phones{
      padding: 0 0;
    }
  }
  &__column{
    flex: 1;
    margin-right: 1.6875rem;
    &:last-child{
      margin-right: 0;
    }
    @include tablets{
      margin-right: 0;
    }
  }
  &__row{
    display: flex;
    margin-bottom: 1.6875rem;
  }
  &__block{
    flex: 1;
    margin-right:  1.6875rem;
    &:last-child{
      margin-right: 0;
    }
  }
}

.form__input{
  width: 100%;
  border: none;
  padding: 1.1875rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
  @include tablets{
    height: 2.25rem;
  }
  &:focus{
   border-color: yellow;
   outline: none;
  }
  &--textarea{
    height: 9.5rem;
    /* width: 28.125rem; */
    resize: none;
    @include tablets{
      height: 5.125rem;
    }
  }
}

.form__controls{
  display: flex;
  flex-wrap: wrap;
  @include phones{
    justify-content: center;
  }
}
.radio{
  display: flex;
  cursor: pointer;
  @include phones{
    align-items: flex-end;
  }
  &__checkbox{
    .radio__visible{
      border-radius: 0;
      &::before{
        content: url(../img/Vector33.png);}
      }
    }
   
  }


.radio__elem{
  display: none;
  &:checked ~ .radio__visible{
    &::before{
      display: block;
    }
  }
}

.radio__title{
  margin-left: 0.625rem;
  margin-right: 0.6875rem;
}

.radio__visible{
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  user-select: none;

  &::before{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50% , -50%);
    content: url(../img/tochka.png);
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 50%;
    display: none;
  }
}

.form__controls{
  margin-bottom: 1.25rem;
}

.form__btns{
  @include tablets{
    display: flex;
    justify-content: center;
  }
}