.about__container:before {
  content: "";
  display: block;
  vertical-align: top;
  width: 489px;
  height: 505px;
  background: url("./img/Mask Group.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.about__description {
  background-color: #8F00FF;
  padding: 70px 80px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: 370px;
  margin-top: -348px;

}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__info {
  margin-bottom: 43px;
}

.about__info p {
  margin-bottom: 20px;
}

.about__info p:last-child {
  margin-bottom: 0;
}