.footer{
  margin-top: 110px;
  padding-bottom: 67px;
  

}



.footer__container{
  position: relative;
  
}

.footer__networks-list{
  position: absolute;
  right: 74px;
  left: 702px;
}

.footer__networks-item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 36px;
  height: 36px;
}


.contacts__help{
  font-size: 11px;
}