.lastgames__list{
  margin-bottom: 58px;
}

.lastgames__list-item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.lastgames__list-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lastgames__description{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
  min-height: 140px;

}
  
.date{
  margin-bottom: 12px;
  font-size: 14px;
}

.lastgames__name{
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}