@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #FFFFFF;
  background: #17191C;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

}

.wrapper {
  background: url("./img/nbgB77C1HAg 1.png") center top no-repeat, url("./img/56278948-888x544 2.png") center bottom 307px no-repeat;
  

  position: absolute;
  top: 0;
  width: 100%;
  margin-left: 0
}




a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

.wrapper__content {
  margin: 0 auto;
  width: 1141px;
}

.button {
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 40px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  border-color: ivory;

}

.button:hover {
  background: #FFFFFF;
  color: #8F00FF;
  border-color: #8F00FF;
  border-style: solid;
  border-radius: 5px;
}


.button--dark {
  background-color: #8F00FF;
  border-radius: 5px;
  border-style: solid;
}



.paginator {
  text-align: center;
}

.paginator__display {
  display: inline-block;
  vertical-align: middle;
}

.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;


}

paginator__item {
  display: inline-block;
  vertical-align: middle;

}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
  position: relative;
  text-decoration: none;

}

.paginator__item--active:hover {
  background: #8F00FF;
  border-radius: 50%;


}

.paginator__link:hover {
  background: #8F00FF;

}