header{
  margin: 0 auto;
  margin-bottom: 150px ;
  padding-top: 34px;
}

address{
  float: right;
  text-align: right;
  font-style: normal;

}


.header__container{
  position: relative;
  
}

.logo{
  display: block;
  float: left;
}

.menu{
  position: absolute;
  left: 375px;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  
  
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__link{
  font-size: 16px;
  text-decoration: none;
}

.contacts{
  float: right;
  font-style: normal;
  text-align: right;

}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
}

.contacts__info{
  font-size: 13px;
  text-decoration: underline;
}