@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #FFFFFF;
  background: #17191C;
  opacity: 1;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

}


a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

ul li {
  list-style: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

.wrapper {
  position: relative;
  z-index: 0;
}

.wrapper__top {
  position: absolute;
  z-index: -1;
  filter: grayscale(1);
  top: 0;
  left: 0;
}

.wrapper__bottom {
  filter: grayscale(1);
  position: absolute;
  z-index: -1;
  bottom: 147px;}

  .wrapper__content{
    margin: 0 auto;
    width: 1141px;
  }




  
  

  .button {
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    border-color: ivory;
    width: 168px;
    margin-right: 0;

  }

  .button:hover {
    background: #FFFFFF;
    color: #8F00FF;
    border-color: #8F00FF;
    border-style: solid;
    border-radius: 5px;
    border: 1px solid
  }


  .button--dark {
    background-color: #8F00FF;
    border-radius: 5px;
    border-style: solid;
    border: 1px solid #FFFFFF;
    width: 168px;
    display: block;

  }



  .paginator {
    text-align: center;
    display: block;
    margin-bottom: 131.5px;
  }

  .paginator__display {
    display: inline-block;
    vertical-align: middle;
  }

  .paginator__list {
    display: inline-block;
    vertical-align: middle;
  }

  .paginator__display {
    margin-right: 25px;


  }

  paginator__item {
    display: inline-block;
    vertical-align: middle;

  }

  .paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 32px;
    position: relative;
    text-decoration: none;

  }

  .paginator__item--active:hover {
    background: #8F00FF;
    border-radius: 50%;


  }

  .paginator__link:hover {
    background: #8F00FF;

  }