.hero {
  height: 100vh;
  background: url(../img/phone1.png) center top no-repeat;
  background-size: cover;
  background-color: #313131;

  @include tablets{
    background: url(../img/phone1.png) left -329px top 47px no-repeat;
    background-color:#313131 ;
  }

  @include phones{
    background: url(../img/phone1.png) left -501px top 47px no-repeat;
    background-color:#313131 ;

  }

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 9rem;
  padding-top: 1.6875rem;
  @include tablets{
  background: #1968B1;
    height: 5.688rem;
    padding-right: 1.3125rem;
    padding-left: 0.9375rem;
    padding-top: 2.3125rem;
    align-items: center;
    padding-bottom: 1.1875rem;
  }
  @include phones{
    align-items: center;
    padding-bottom: 1.1875rem;
  }

}

.menu {
  width: 39.875rem;
  margin: 0 30px;
  padding-top: 5px;
  @include tablets{
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  vertical-align: middle;
  margin-right: 1.375rem;
  font-weight: bold;

  &:last-child {
    margin-right: 0;
  }
}


.menu__link {
  font-size: 1.1rem;
  white-space: nowrap;
}

.contacts__phone {
  font-size: 1.375rem;
  font-weight: bold;
  white-space: nowrap;

  &::before {
    content: url(../img/Vector4.png);
    margin-right: 0.3125rem;
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
  }
}

.hero__text {
  width: 41%;
  @include tablets{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include phones{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;

  @include tablets{
    padding: 0 13%;
  }
  
  

  @include phones{
    font-size: 2.5rem;
    padding: 0 10%;
  }

}

.hero__subtitle {
  font-size: 1.3125rem;
  font-weight: normal;
  margin-bottom: 2.4375rem;
}

.hero__offers {
  margin-top: 4rem;
  @include tablets{
    display: none;
  }
}

.hero__offers--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 30%;

  .hero__offers--item {
    display: flex;
    align-items: center;
    margin-right: 2.0625rem;

  }

  .offers__icon {
    width: 2.1875rem;
    margin-right: 0.9375rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .offers__text {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    max-width: 5.625rem;
  }
}

.contacts.contacts__header{
  @include tablets{
    display: none;
  }
}