.wrapper{
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper__menu{
  position: fixed;
  top: 20%;
  right: 3%;
  @include tablets{
    display: none;
  }
  @include phones{
    display: none;
  }
}

.wrapper__menu-item{
  margin-bottom: 0.4375rem;
  &--active{
    .wrapper__menu-link{
      border-color: white;
    }
  }
}

.wrapper__menu-link{
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid;
  border-color: transparent;
  display: block;
  position: relative;
  &::before{
    position: absolute;
    top: 34%;
    right: 31%;
    transform: translate(-50% -50%);
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: white;

  }
}