header{
  padding-top: 34px ;
  margin-bottom: 150px;

}


  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex: 1; */
  

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex: 1;
}



.logo{
  display: block;
  
  
}

.menu{
  width: 391px;

}

.menu__list{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
  
  

.menu__item{
  vertical-align: middle;
   margin-right: 50px; 
  
  
}

.menu__link{
  font-size: 16px;
  text-decoration: none;
}

.contacts{
  font-style: normal;
  text-align: right;
  justify-content: flex-end;
  

}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
}

.contacts__info{
  font-size: 13px;
  text-decoration: underline;
}


/* /* services */
.header__games{
  margin-bottom: 121px;
  max-height: 412px;
 /* background: url(../img/phonetop.png); */
} 

.hello__title-services{
  margin-top: 107px;
  margin-bottom: 104px;
}