.maincontent__games{
  color: #010101;
}
.section__games{
  background-color:#F2F2F2;
  padding-top: 119px;
}

.section__games-pic{
  width: 460px;
  height: 333px;
  
}

.section__games-pic--another{
  background-color: #010101;
  width: 460px;
  height: 333px;
  padding-top: 72px;
  padding-left: 16px;
}


.section__games-item{
  display: flex;
  justify-content: space-between;
}

.section__games-descriprion{
  padding-top: 2px ;
  padding-left: 56px;
  flex: 1;
}

.section__description-text{
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 29px;
}

.section__description-about{
  margin-bottom: 35px;
}

.section__games-item:first-child{
  margin-bottom: 50px;
}

.section__partners{
  background-color: #F4F5F5;

}

.partners-title{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 75px;
}

.partners__link{
  text-decoration: none;
  display: flex;
  width: 270px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.partners{
  display: flex;
  flex-wrap: wrap;
}