

.section__games{
  background-color: #F2F2F2;
  padding-top: 119px;
}

.section__games-pic{
  width: 460px;
  height: 333px;
  
}

.section__games-pic--another{
  background-color: #010101;
  width: 460px;
  height: 333px;
  padding-top: 72px;
  padding-left: 16px;
}

.page__content{
  color: #000000;
}

.section__games-item{
  display: flex;
  justify-content: space-between;
}

.section__games-descriprion{
  padding-top: 2px ;
  padding-left: 56px;
}
