@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #FFFFFF;
  background: #17191C;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

/* img{
  display: block;
  max-width: 100%;
} */


body, html{
  height: 100%;
}


.wrapper{
  /* display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-height: 1200px; */
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__games{
  background-color: #17191C;
}
.wrapper__content{
  /* margin: 0 auto;
  width: 1141px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-height: 1200px; */
  flex: 1;
  position: relative;
}

 /* .wrapper__content-games{
  background-color: #FFFFFF;
}
 */
.wrapper__top {
  position: absolute;
  z-index: -1;
  filter: grayscale(1);
  top: 0;
  left: 0;
}

.wrapper__bottom {
  filter: grayscale(1);
  position: absolute;
  z-index: -1;
  bottom: 147px;
}

.container{
  max-width: 1141px;
  margin: 0 auto;

}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.button {
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 40px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  border-color: ivory;
  width: 168px;
  margin-right: 0;

}

.button:hover {
  background: #FFFFFF;
  color: #8F00FF;
  border-color: #8F00FF;
  border-style: solid;
  border-radius: 5px;
  border: 1px solid
}


.button--dark {
  background-color: #8F00FF;
  border-radius: 5px;
  border-style: solid;
  border: 1px solid #FFFFFF;
  width: 168px;
  display: block;

}

.paginator {
  /*  text-align: center;
  display: block; */
  margin-bottom: 131.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__display {
  /* display: inline-block;
  vertical-align: middle; */
  margin-right: 25px;
}

.paginator__list {
  /* display: inline-block;
  vertical-align: middle; */
  display: flex;
  align-items: center;
}

paginator__item {
  /* display: inline-block;
  vertical-align: middle; */
  text-align: center;

}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
  position: relative;
  text-decoration: none;
  text-align: center;

}

.paginator__item--active:hover {
  background: #8F00FF;
  border-radius: 50%;
  text-align: center;

}

.paginator__link:hover {
  background: #8F00FF;
  text-align: center;
}


.breadcrumbs__list{
  display: flex;
  margin-bottom: 15px;
  

}

.breadcrumbs__item{
  margin-right: 5px;
}

.breadcrumbs__link{
  text-decoration: underline;
}

/* .breadcrumbs__item::after{
  content: "/";
} */